* {
    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.front img {
    width: 100%;
}
.back img {
    width: 100%;
}

body {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
    margin: 30px;
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(180deg);
}

.restart {
    background-color: #A7E9AF;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .card:hover .back {
    transform: rotateY(0deg);
}

.card:hover .front {
    transform: rotateY(-180deg);
} */