* {
    box-sizing: border-box;
    font-size: 15px;
}

main,
body,
header,
.face,
button,
#safeTimerDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-wrap: wrap;
}

.front img,
.back img {
    width: 100%;
}
body {
    background-color: #e5e5e5;
    flex-direction: column;
    margin-top: 50px;
}

h1 {
    font-size: 2rem;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
    margin: 30px;
    cursor: pointer;
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(180deg);
}

button {
    background-color: #A7E9AF;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    border-radius: 20px;
    font-size: 1.33rem;
    border: none;
    box-shadow: 0 0 5px 1px rgb(201, 201, 201);
    transition: all 500ms ;
    font-weight: bold;
}

button:hover {
    width: 220px;
    height: 56px;
}

.timer {
    position: absolute;
    right: 5%;
}

#safeTimerDisplay {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgb(201, 201, 201);
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width:  750px) {
    header {
        flex-direction: column;
    }
    .timer {
        position: static;
        margin-top: 5%;
    }
}